@keyframes rainbow{
	from, to { box-shadow: 0 0 15px 0 red }
	16% { box-shadow: 0 0 15px 0  yellow }
	32% { box-shadow: 0 0 15px 0  green }
	48% { box-shadow: 0 0 15px 0  aqua }
	64% { box-shadow: 0 0 15px 0  blue }
	80% { box-shadow: 0 0 15px 0  fuchsia }
}

@keyframes rainbowText{
	from, to { color: red }
	16% { color:  yellow }
	32% { color:  green }
	48% { color:  aqua }
	64% { color:  blue }
	80% { color:  fuchsia }
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(100%) invert(16%);
  width: 80%;
  height: 25px;
  animation: rainbow 3s infinite;
  background-color: white;
  margin-left: 10vh;
}

body{
  background-color:  #232323;
}

h1{
  background-color: #2c2f33;
  color: white
}


p{
  margin-top: -3%;
  color: white;
}

a{
  animation: rainbowText 3s infinite;
}

img{
  border-radius: 50%;
  animation: rainbow 3s infinite;
}

.card {
  position: relative;
  font-family: "Trebuchet MS";
  padding: 10%;
  background-color: #232323d4;
  animation: rainbow 3s infinite;
  width: 75%;
  height: 75%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
  max-width: 750px;

  min-width: 350px;
  min-height: 350px;
}

.video {
  animation: rainbow 3s infinite;
}

.title {
  padding: 5px;
  margin-top: -6%;
  color: rgb(228, 199, 230);
  font-size: 15px;
  margin-bottom: 7%;
}

.pronouns {
  margin-top: -4%;
  color: rgb(241, 227, 242);
  font-size: 12px;
  margin-bottom: 6%;
}

.subtext {
  font-size: 13px;
}

.songTitle {
  font-size: 14px;
  text-align: left;
  margin-left: 1vh;
  margin-top: -3.75vb;
}