@keyframes rainbow{
	from, to { box-shadow: 0 0 15px 0 red }
	16% { box-shadow: 0 0 15px 0  yellow }
	32% { box-shadow: 0 0 15px 0  green }
	48% { box-shadow: 0 0 15px 0  aqua }
	64% { box-shadow: 0 0 15px 0  blue }
	80% { box-shadow: 0 0 15px 0  fuchsia }
}

@keyframes rainbowText{
	from, to { color: red }
	16% { color:  yellow }
	32% { color:  green }
	48% { color:  aqua }
	64% { color:  blue }
	80% { color:  fuchsia }
}

@keyframes transRainbowText{
	from, to { color: rgb(0, 225, 255) }
	10% { color: rgb(147, 216, 255) }
	20% { color: rgb(221, 229, 255) }
	30% { color: rgb(255, 255, 255) }
	40% { color: rgb(255, 182, 245) }
	50% { color: rgb(255, 132, 255) }
  60% { color: rgb(255, 184, 246) }
  70% { color: rgb(255, 255, 255) }
	80% { color: rgb(221, 229, 255) }
	90% { color: rgb(177, 223, 250) }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: "Trebuchet MS";
}

h1 {
  font-size: clamp(20px, 2.5vw, 40px);
  padding: 1%;
  background-color: #2c2f33;
  border-radius: 8px;
  animation: transRainbowText 10s infinite;
}

h2{
  font-size: clamp(15px, 1.5vw, 30px);
  padding: 1%;
  background-color: #2c2f338a;
  border-radius: 8px;
  color: rgb(228, 199, 230);
}

.rainbowText{
  animation: rainbowText 10s infinite; 
}

p{
  margin-bottom: 4%;
  font-size: clamp(15px, 1.2vw, 27px);
  color: white;
}

a{
  animation: rainbowText 10s infinite;
}

img{
  width: 40%;
  height: 40%;
  border-radius: 50%;
  animation: rainbow 10s infinite;
  max-width: 350px;
}

header {
  margin: auto;
  margin-top: 3%;
  background-color: #2c2f33d6;
  animation: rainbow 10s infinite;
  padding: 20px;
  max-width: 1500px;
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.card {
  max-width: 1000px;
  position: relative;
  font-family: "Trebuchet MS";
  padding: 5%;
  background-color: #232323d4;
  animation: rainbow 10s infinite;

  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
  width: 90vw;
  border-radius: 8px;
}

.video {
  animation: rainbow 10s infinite;
}

.title {
  padding: 3%;
  color: rgb(228, 199, 230);
  font-size: minmax(1.3vw, 150px);
  margin-bottom: 7%;
}

.pronouns {
  margin-top: -4%;
  animation: transRainbowText 10s infinite;
  font-size: clamp(15px, 1.2vw, 27px);
  margin-bottom: 3%;
}

.subtext {
  margin-top: -5%;
  font-size: minmax(1vw, 100px);
  color: #eeeeeed4;
}