body, html {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #b39783;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.user-info {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.user-details {
    display: flex;
    align-items: center;
}

.userPic {
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    top: 50px;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
}


small {
    display: block;
    margin-top: 2px;
    color: #666;
}

#forumsList > div {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.text-container {
    display: flex;
    padding-left: 5.5cap;
    margin-top: -4.25cap;
    flex-direction: column;
}

#userInfo img, .reply img, .userpic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo {
    margin-top: 0.5cap;
}

.thread-title {
    margin-top: 1cap;
    margin-bottom: 0.5cap;
}

#commentText {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#submitComment {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.comment-as {
    position: relative;
    display: flex;
    flex-direction: column;
}

.line {
    border-bottom: 1px solid #888;
}

.replies {
    margin-left: 4cap;
}

.reply {
    border-left: 4px solid #7b685a;
    padding-left: 16px;
    padding-bottom: 1cap;
}

.replyButton {
    margin-bottom: 0.5cap;
}

.nestedReply h3 {
    margin-top: -2.25cap;
    margin-left: 3cap;
}

.nestedReply small {
    margin-top: -3.75cap;
    margin-left: 10cap;
}

input[type="text"], input[type="submit"] {
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: calc(100% - 18px);
}

input[type="submit"] {
    background-color: #b39783;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b39783;
}